.account-container {
    padding: 4.8rem 0;
    display: flex;
    gap: 2.4rem;
}
.account-nav_box {
    width: 23.5%;
    max-width: 28rem;
    border-radius: 1rem;
    background-color: #fff;
    border: 0.1rem solid rgb(0, 0, 0, 0.3);
}
.account_nav-title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary);
    padding: 2.4rem;
    text-transform: capitalize;
    border-bottom: 0.1rem solid rgb(0, 0, 0, 0.3);

}
.account_nav-box {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.accuont_nav-item {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 0.1rem solid rgb(0, 0, 0, 0.3);
    text-transform: capitalize;
    transition: all 0.3s;
    cursor: pointer;
}
.accuont_nav-item:last-child {
    border: none;
}
.accuont_nav-item:hover {
    padding-left: 2rem;
    font-weight: bold;
    color: var(--primary);
    /* border-color: var(--primary); */
}
.accuont_nav-item_focus {
    font-weight: bold;
    color: var(--primary);
    /* border-color: var(--primary); */
}
.account-main {
    width: 74.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.3);
    background-color: #fff;
    position: relative;
}
.account-title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2.4rem;
    border-bottom: 0.1rem solid rgb(0, 0, 0, 0.3);
}
.account-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.4rem;
    padding-bottom:  10rem;
}
.account_information-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}
.account_information_item-img_box {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.account_information_item-img {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 0.1rem solid rgb(0, 0, 0, 0.3);
}
.account_information_item-img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.account_information_item-name {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.6rem;
    font-weight: 550;
    text-transform: capitalize;
}
.account_information_item-content {
    width: calc(80% - 2.4rem);
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.1rem solid transparent;
    outline: none;
    padding: 1.2rem 0;

}
.account_information_item-change {
    color: #689ab5;
    font-size: 1.4rem;
    font-weight: bold;
}
.account-submit {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary);
    text-transform: uppercase;
    border-radius: 1rem;
    padding: 1.2rem 4.8rem;
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.account-order_follow {
    width: 100%;
    padding: 1.2rem;
    display: flex;
    gap: 0.6rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.3);
    border-left: none;
    border-right: none;
}
.account_order_follow-item {
    font-size: 1.6rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all .3s;
    cursor: pointer;
}
.account_order_follow-item:hover,
.account_order_follow-item-active {
    /* font-weight: bold; */
    color: var(--primary);
    border-color: var(--primary);
}
.account_order_follow-product_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.account_order_follow-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 1.2rem;
    border-top: 0.1rem solid rgb(0, 0, 0, 0.2);
}
.account_order_follow-order:first-child {
    border: none;
}
.account_order_follow-product {
    width: 100%;
    display: flex;
    gap: 1.2rem;
}
.account_order_follow_product-img {
    width: 18rem;
    aspect-ratio: 2/1;
    display: flex;
}
.account_order_follow_product-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.account_order_follow_product-main {
    display: flex;
    width: 80%;
    gap: 1.2rem;
}
.account_order_follow_product-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.account_order_follow_product-name {
    font-size: 1.6rem;
    font-weight: bold;
}
.account_order_follow_product-price_box {
    display: flex;
    align-items: end;
    gap: 1.2rem;
}
.account_order_follow_product-price_sale {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary);
}
.account_order_follow_product-price {
    font-size: 1.4rem;
    color: black;
}
.account_order_follow_product-quantity {
    font-size: 1.8rem;
    font-weight: bold;

}
.account_order_follow_product-total {
    width: 18rem;
    height: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_order_follow_order-total_fun {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.4rem;
}
.account_order_follow_order_total-voucher {
    font-size: 1.2rem;
}
.account_order_follow_order-total {
    font-size: 1.6rem;
    display: flex;
    gap: 2.4rem;
    align-items: end;
    justify-content: end;
}
.account_order_follow_order_total-price {
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: end;
}
.account_order_follow_order_total-price > b {
    font-size: 2rem;
    color: var(--primary);
}
.account_order_follow_order-fun {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.account_order_follow_order_fun-btn {
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    border: 0.1rem solid rgb(0, 0, 0, 0.3) ;
    background-color: #fff;
    text-transform: capitalize;
}
.account_order_follow_order_fun-btn_red {
    color: #fff;
    background-color: var(--primary);
    border: none;
}
.account_form-item {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
}
.account_form-item_box {
    width: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.account_form_item-text {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
}
.account_form_item-input {
    width: 100%;
    font-size: 1.4rem;
    padding: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.3);
}
.account_form_item-input_box {
    position: relative;

}
.hide-pass {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary);
    top: 50%;
    right: 5%;
    transform: translate(-5%,-50%);
    cursor: pointer;
}




#change_success:checked ~ .change_success {
    display: flex;
}
.change_success {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
    align-items: center;
    justify-content: center;
}
.change_success-box {
    /* width: 30rem; */
    /* aspect-ratio: 1/1; */
    background-color: #fff;
    border-radius: 1rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}
.change_success-title {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--success);
}
.change_success-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.change_success-icon > span {
    font-size: 15rem;
    color: var(--success);
}
.change_success-next {
    width: 100%;
    padding: 1.2rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    border-radius: 1rem;
}

.account_form_check_passworld {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.account_form_check_passworld > p {
    font-size: 1.2rem;
    color: #000;
    opacity: 0.5;
    font-weight: 500;
}

.account_comment-box {
    width: 100%;
    padding: 0 2.4rem;
}

.account_comment-item {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    padding: 1.2rem 0;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid rgb(0, 0, 0, 0.2);
}
.account_comment-item:first-child {
    border: none;
}
.account_comment_item-content {
    width: calc(100% - 12.4rem);
    height: 100%;
    display: flex;
    gap: 1.2rem;
}
.account_comment_item-img {
    width: 10rem;
    height: 10rem;
}
.account_comment_item-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.account_comment_item-box {
    width: calc(100% - 11.2rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.account_comment_item-name {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
}
.account_comment_item-rating {
    width: 100%;
}
.account_comment_item-rating > span {
    font-size: 2rem;
}
.star-active {
 color: var(--view);
}
.account_comment_item-text {
    width: 100%;
    word-wrap: break-word;
    font-size: 1.4rem;
}
.account_comment_item-fun {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.account_comment_item_fun-edit,
.account_comment_item_fun-delete {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.account_comment_item_fun-edit {
    border: 0.1rem solid var(--primary);
    color: var(--primary);
}
.account_comment_item_fun-delete {
    background-color: var(--primary);
    color: #FFF;
}




.account_voucher-box {
    width: 100%;
}
.account_voucher-item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 0.1);
}
.account_voucher_item-code {
    font-size: 1.8rem;
    font-weight: bold;
}
.account_voucher_item-date {
    font-size: 1.4rem;
}
.account_voucher_item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account_voucher_item-price_quantity {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.account_voucher_item-price,
.account_voucher_item-quantity {
    font-size: 1.6rem;
}
.account_voucher_item-price > b {
    font-size: 2rem;
    color: var(--primary);
}
.account_voucher_item-btn {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #FFF;
    background-color: var(--primary);
}