
.cart-container{
    padding: 2.4rem 0;
}

.box_cart{
    display: flex;
    width: 100%;
    gap: 2.4rem;
}
.box_cart-product{
    width: calc(68% - 2.4rem);
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.1);
    height: calc(100% + 1.3rem);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.red-color{
    color: #FF0000;
}

.box_cart-prmotion{
    width: 32%;
    border: 0.1rem solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;

}

.cart_product-tittle{
    background-color: #333;
}

.cart_product-tittle, .cart_product-promotion{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    color: #fff;
    background-color: #333;
    padding: 1.2rem;
}

.check{
    width: 9.85%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.check input {
    width: 32%;
    aspect-ratio: 1/1;
}

.cart-product .check input{
    width: 21.1%;
    aspect-ratio: 1/1;
}

.product-total{
    width: 54.67%;
    display: flex;
    gap: 2.4rem;
}

.product-price{
    display: flex;
    font-size: 2.4rem;
    gap: 2.4rem;
}


.product-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-total p{
    width: 75%;
}

.cart-product-img{
    width: 25%;
    padding: 0.6rem;
}

.cart-product-img  img{
    width: 100%;
}

.product-pay{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.product-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    width: 80%;
    display: flex;
    border: 0.1rem solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem ;
    padding: 0.6rem;
}

.product-quantity p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-quantity button{
    border: none;
    width: 100%;
    background-color: #fff;
    font-size: 1.6rem;
}
.product-quantity button:nth-child(1){
    border-radius: 0.5rem 0 0 0.5rem;
}
.product-quantity button:last-child{
    border-radius: 0 0.5rem 0.5rem 0;
}

.product-quantity, .product-cash{
    width: calc(45% - 1.2rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-total p, .product-quantity p, .prodcut-cash p{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.prodcut-trash{
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prodcut-trash  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s;
}
.prodcut-trash  svg:hover {
    fill: var(--red);
}

.trash{
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product{
    width: 100%;
    display: flex;
    border-radius: 0.5rem;
    border-bottom: 0.1rem solid rgb(0, 0, 0, 0.1);
    padding: 1.2rem 0;
}

.promotion, .readmore{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion > span{
    width: 20%;
    height: 2.4rem;
    background-color: red;
    margin-right: 0.6rem;
}

.promotion p{
    width: 80%;
    font-size: 1.6rem;
}

.readmore p{
    margin-right: 0.6rem;
    font-size: 1.6rem;
}

.readmore span{
    font-size: 2rem;
}

.promotion-content{
    padding: 1rem;
}

.promotion-name{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}



.promotion-name p {
    font-size: 1.6rem;
}

.promotion-detail p{
    font-size: 1.2rem;
}

.promotion-name a{
    font-size: 1.6rem;
    text-decoration: underline;
    color: blue;
}

.promotion-quantity{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.promotion-quantity-content{
    width: 80%;
    padding-right: 1rem;
}

.promotion-quantity-content p{
    padding: 0.6rem 0 0.6rem 0;
    font-size: 1.6rem;
}

.promotion-quantity-name{
    display: flex;
    justify-content: space-between;
}

.promotion-quantity-name p{
    font-size: 1.2rem;
}

.promotion-quantity-bar{
    width: 60%;
    height: 0.6rem;
    border-radius: 1rem;
    background-color: aqua;
}

.product-quantity-button button{
    border: unset;
    padding: 1rem;
    background-color: #0123D5;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.cart-payment{
    padding: 1rem;
}
.cart-payment-describle{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-payment-describle p, .cart-payment-describle div{
    font-size: 1.2rem;
} 

.cart-payment-describle div{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #E1F0E9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cart-payment-cash, .cart-payment-total{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2.4rem 0;
}

.cart-payment-total span {
    font-size: 1.6rem;
    font-weight: bold;
    color: red;
}
.cart-payment-total p{
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

.cart-payment-cash p, .payment-notice p{
    font-size: 1.4rem;
}

.payment-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-button button{
    width: 95%;
    background-color: #C92127;
    color: #fff;
    border-radius: 1rem;
    padding: 1.9rem;
    border: none;
    font-size: 1.6rem;
}

.payment-notice p{
    text-align: center;
    color: red;
}

.non-cart {
    font-size: 4rem;
    font-weight: bold;
    padding: 20rem 0;
    text-align: center;
}
