/* reset */
.forgotpassword-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.reset-forgotpassword-box{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #EEE;
    padding: 10.2rem;
    margin: 0 auto;
}
.reset-forgotpassword-boxform{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.reset-forgotpassword-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-arrowleft{
    width: 4rem;
    height: 4rem;
    background-color: aqua;
}
.reset-forgotpassword-title{
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
}
.reset-forgotpassword-form{
    width: 38.4rem;
    height: 5rem;
    border-radius: 1rem;

}
.reset-forgotpassword-importform input{
    padding: 0 2rem;
    font-size: 1.6rem;
}
.reset-forgotpassword-buttonnext{
    font-size: 2rem;
    font-weight: bold;
    background-color: #DD2200;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
}

/* insert */

.insert-forgotpassword-box{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #EEE;
    padding: 10.2rem;
    margin: 0 auto;
}
.insert-forgotpassword-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.insert-forgotpassword-head .forgotpassword-title{
    text-align: center;
    width: 22.8rem;
}
.insert-forgotpassword-boxform{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.icon-arrowleft{
    width: 4rem;
    height: 4rem;
    background-color: aqua;
}
.insert-forgotpassword-title{
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
}
.insert-forgotpassword-form{
    width: 38.4rem;
    height: 5rem;
    border-radius: 1rem;

}
.insert-forgotpassword-buttonnext{
    font-size: 2rem;
    font-weight: bold;
    background-color: #DD2200;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
}
.insert-forgotpassword-box p{
    font-size: 1.4rem;
}
.insert-forgotpassword-notitication{
    text-align: center;
}
.insert-forgotpassword-fill{
    display: flex;
    padding: 2.4rem;
    justify-content: space-between;
    width:  38.4rem;
}
.insert-forgotpassword-fill input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    aspect-ratio: 1/1.5;
    background-color: #eee;
    border: none;
    outline: none;
    font-size: 5rem;
    font-weight: bold;
    border-bottom: 0.1rem solid #000000;
}
.insert-forgotpassword-timesend{
    text-align: center;
}

/* setting */

.setting-forgotpassword-box{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #eee;
    padding: 10.2rem;
    margin: 0 auto;
}
.setting-forgotpassword-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.setting-forgotpassword-boxform{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.setting-forgotpassword-head .setting-forgotpassword-title{
    text-align: center;
    font-size: 2.4rem
}
.icon-arrowleft{
    width: 4rem;
    height: 4rem;
    background-color: aqua;
}
.insert-forgotpassword-title{
    font-size: 2.4rem;
    width: 22.8rem;
    text-align: center;
}
.setting-forgotpassword-form{
    width: 38.4rem;
    height: 5rem;
    border-radius: 1rem;
}
.setting-forgotpassword-importform input{
    padding: 0 2rem;
    font-size: 1.6rem;
}
.setting-forgotpassword-condition p{
    font-size: 1.4rem;
    opacity: 0.5;
}
.setting-forgotpassword-condition {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.setting-forgotpassword-buttonnext{
    font-size: 2rem;
    font-weight: bold;
    background-color: #DD2200;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
}

/* success */

.success-forgotpassword-box{
    width: 50rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    background-color: #EEE;
    padding: 4rem;


}
.success-forgotpassword-title{
    font-size: 2.8rem;
    /* width: 38.4rem; */
    text-transform: uppercase;
    text-align: center;
}
.icon-success{
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
}
.icon-success > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.success-forgotpassword-form{
    border-radius: 1rem;
    font-size: 2.4rem;
    padding: 1.2rem;
}
.success-forgotpassword-buttonnext{
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    background-color: #DD2200;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
