.silde_banner {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    gap: 2.4rem;
}
.silde-box {
    width: calc(70% - 1.2rem);
    border-radius: 1rem;
    overflow: hidden;
}
.silde-box > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slide-controller-left,
.slide-controller-right {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all .3s;
    background-color: #000;
    opacity: 0.5;
}
.slide-controller-left > span,
.slide-controller-right > span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: #fff;
}
.slide-controller-right > img {
    transform: rotate(180deg);
}
.slide-controller-left:hover,
.slide-controller-right:hover {
    opacity: 0.8;
    transform: scale(1.2);
}
.slide-controller-left {
    left: -3.5rem;
}
.slide-controller-right {
    right: -3.5rem;
}
.silde-box:hover > .slide-controller-left {
    left: 1rem;
}
.silde-box:hover > .slide-controller-right {
    right: 1rem;
}

.slide-nav_item {
    width: 1.2rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #ffffff;
    border: 0.25rem solid #FFF;
    box-shadow: 0 0 0.5rem #000;
}
.banner-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.banner-item {
    width: 100%;
    height: 50%;
    border-radius: 1rem;
    border: .1rem solid rgba(0, 0, 0, 0.2);
}
.banner-item > img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.voucher_nav {
    display: flex;
    flex-direction: column;
}
/* .voucher-box {

} */
.voucher-item {
    aspect-ratio: 1.5/1;
    border-radius: 1rem;
}
.voucher-item > img  {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* .nav-container {

} */
.nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.nav-img {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}
.nav-text {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.category-container {
    padding: 1.2rem 0;
}
.category-title {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1rem;
    background: linear-gradient(to right, #E8EA8D, #8DE5D5);
}
.category_title-icon {
    width: 4rem;
    aspect-ratio: 1/1;
}
.category_title-icon > img {
    width: 100%;
    height: 100%;
}
.category_title-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
}
/* .category-box {

} */
.category-item {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.category_item-img {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}
.category_item-img > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.category_item-text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.hot-container {
    padding: 2.4rem 0;
}
.hot-titel {
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    background-color: #ffffff;
    border-radius: 1rem;
}
.hot-box {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1.2rem;
}
.hot-icon {
    width: 3.5rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hot-icon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hot-title {
    width: 17.5rem;
    aspect-ratio: 3.5/1;
    font-size: 3rem;
    color: var(--primary);
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: start;
}
.hot-endtime {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.hot_endtine-text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.hot-time_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.hot-time_box {
    width: 4rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 1rem;
}
.hot-time {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}
.hot-showall {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1478FC;
}
.hot_showall-text {
    font-size: 1.6rem;
    font-weight: bold;
}
.hot_showall-icon {
    width: 2rem;
    aspect-ratio: 1/1;
}
.hot_showall-icon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.new-container {
    padding: 1.2rem 0;
}
.new-titel {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: #333333;
}
.new_titel-icon {
    width: 3rem;
    aspect-ratio: 1/1;
}
.new_titel-icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new_titel-text {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
}


.rating-container {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
.rating-titel {
    width: 100%;
    padding: 2rem;
    background-color: #333333;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.ratting_titel-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
}
.rating-nav {
    width: 100%;
    padding: 1.2rem;
    display:  flex;
    align-items: center;
    overflow: hidden;
    /* overflow-x: scroll; */
}
.rating_nav-item {
    font-size: 1.6rem;
    font-weight: bold;
    /* text-align: center; */
    padding: 0 1.2rem;
    line-height: 5rem;
    border-bottom: 0.1rem solid transparent;
    text-transform: capitalize;
    cursor: pointer;
    display: -webkit-box !important;
    overflow: hidden !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}
.rating_nav-item-check {
    color: var(--primary);
    border-bottom: 0.1rem solid var(--primary);
}
.rating_container {
    width: 100%;
    padding: 1.2rem 0 3rem;
    display: flex;
    justify-content: space-between;
}
.rating_container-left {
    width: 40.5%;
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
}
.rating-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-right: 0.2rem solid transparent;
}
.rating-box:hover {
    border-right: 0.2rem solid var(--primary);
}
.rating-STT {
    width: 16%;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating-img {
    width: 21%;
    aspect-ratio: 1/1;
    display: flex;
}
.rating-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.rating-conten {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.rating_conten-name {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.rating_conten-author {
    font-size: 1.4rem;
    font-weight: 500;
}
.rating_conten-view {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--view);
}
.rating_container-right {
    width: 57.5%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2.4rem;
}
.rating_product_detail-img {
    width: 26.3%;
    aspect-ratio: 1/1;
    display: flex;
}
.rating_product_detail-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.rating_product_detail-content {
    width: 71%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-right: 1.2rem;
}
.rating_product_detail_content-name {
    font-size: 2.5rem;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.rating_product_detail_content-author,
.rating_product_detail_content-publisher,
.rating_product_detail_content-price,
.rating_product_detail_content-price > del,
.rating_product_detail_content-describe > b {
    font-size: 1.6rem;
}
.rating_product_detail_content-price_sale {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
}
.rating_product_detail_content-describe {
    font-size: 1.6rem;
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 15  ;
    -webkit-box-orient: vertical;
}
.publisher-container {
    margin: 2.4rem 0;
    border-radius: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);

} 
.advertisement-container {
    padding: 1.2rem 0 2.4rem;
}
.publisher-box,
.advertisement-box {
    width: 100%;
    aspect-ratio: 1/1;
}
.publisher-box > img,
.advertisement-box > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.swiper-slide,
.swiper_rating{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.swiper-slide > img {
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet {
    background-color: #FFF;
    border: 0.3rem solid #FFF;
    width: 1.5rem;
    height: 1.5rem;
    /* box-shadow: 0 0 5px black; */
}
.swiper-pagination-bullet-active {
    background-color: var(--primary);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

