.container {
    width: 80%;
}
.title {
    margin: 2.4rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}
.title-menu {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title_menu-icon {
    width: 2.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.title_menu-content {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;    
}
.title-function {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.title-img {
    width: 15rem;
    aspect-ratio: 1/1;
}
.title-img-fix{
    width: 15rem;
    aspect-ratio: 2/1;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.content-item {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    border-bottom:  0.1rem solid black;
}
.content_item-key {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
}
.content_item-value {
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.6rem;
}
.content-submit {
    width: 100%;
    aspect-ratio: 15/1;
    outline: none;
    border: none;
    background-color: #FF0000;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1rem;
    margin-top: 1.2rem;
}
.fix{
    width: 80%;
    font-size: 1.6rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}