.container {
    width: calc(100% - 4.8rem);
}
.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 0.1rem solid black;
}
.title-content {
    font-size: 2.5rem;
    font-weight: bold;
}
.title-add {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border-radius: 1rem;
    background-color: #0000C8;
    padding: 1rem 2rem;
}
.list {    
    width: 100%;
}
.list-row {
    font-size: 2rem;
    display: grid;
    padding: 1rem 0;
    font-size: 1.6rem;
    border-bottom: .1rem solid black;
}
.list-row_title > div {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}
.category-grid {
    grid-template-columns: 4% 24% 8% 24% 14% 14% 12%;
}
.product-grid {
    grid-template-columns: 4% 16% 6% 10% 6% 6% 8% 8% 8% 8% 8% 12%;
}
.user-grid {
    grid-template-columns: 4% 26% 8% 26% 12% 12% 12%;
}
.author-grid {
    grid-template-columns: 4% 22% 22% 28% 12% 12%;
}
.publisher-grid {
    grid-template-columns: 4% 18% 8% 18% 18% 20% 12%;
}
.order-grid {
    grid-template-columns: 4% 18% 12% 12% 12% 10% 10% 10% 12%;
}
.voucher-grid {
    grid-template-columns: 4% 14% 12% 12% 12% 10% 12% 12% 12%;
}
.comment-grid {
    grid-template-columns: 4% 30% 10% 12% 12% 10% 10% 12%;
}
.statistical-grid {
    grid-template-columns: 28% 18% 18% 18% 18%;
}
.list-item {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
    font-size: 1.6rem;
    text-align: center;
}
.list-item_fix{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
    font-size: 1.6rem;
}
.list_item-price_sale {
    font-size: 1.6rem;
    font-weight: bold;
    color: red;
}
.list_item-price {
    font-size: 1.2rem;
    color: #333333;
}

.list_item-img {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.function-edit,
.function-delete {
    width: 5rem;
    aspect-ratio: 1.5/1;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}
.function-edit {
    background-color: #139BBC;
}
.function-delete {
    background-color: #DD2200;
}
.product-page{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.product-number-page{
    width: 4rem;
    aspect-ratio: 1/1;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black; 
}
.product-number-page a{
    background-color: #000;
}