@media (min-width: 740px) and (max-width: 1024px) {
    .account_nav-title, .account-title{
        font-size: 2rem !important;
    }
    .account_voucher_item-date,.account_voucher_item-price, 
    .account_voucher_item-quantity, .account_voucher_item-btn {
        font-size: 1.2rem;
    }
    .account_form_item-text,.accuont_nav-item {
        font-size: 1.4rem;
    }

    .account_voucher_item-price > b{
        font-size: 1.6rem;
    }
    .account_voucher_item-code{
        font-size: 1.4rem;
    }
}
@media (max-width: 740px) {
    .account-container{
        padding: 0;
    }
    .account_voucher-item{
        text-align: center;
    }

    .account-title{
        font-size: 2rem;
    }
  
    .account_voucher_item-code,.account_voucher_item-price > b{
        font-size: 1.6rem;
    }
    .account_voucher_item-price, .account_voucher_item-quantity,
    .account_voucher_item-btnt{
        font-size: 1.2rem;
    }

    .account_voucher_item-date,
    .account_voucher_item-price, .account_voucher_item-quantity {
        font-size: 1rem;
    }
    .account_voucher_item-box{
        flex-direction: column;
        gap: 0.5rem;
    }

    .account-nav-menu{
        font-size: 3.6rem;
        padding: 1rem;
    }

    .account-nav_box{
        position: fixed;
        left: -100%;
        z-index: 10;
        transition: all 0.3s ease-in;
        width: 70%;
        height: 78%;
        top: 6rem;
    }

    #check_nav_account:checked ~ .account-nav_box{
        left: 0;
    }
    .account_layout_dark{
        display: none;
    }
    #check_nav_account:checked ~ .account_layout_dark{
        display: block;
        position: fixed;
        background-color: rgb(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1;
    }
}