@media (min-width: 740px ) and (max-width: 1024px){

   .contact_form-two{
    flex-direction: column;
   }
   .contact_form_two-item{
    width: unset !important;
   }
}

@media (max-width: 740px) {

    .link_page-text, .contact_information-title,.contact_form-submit{
        font-size: 1.6rem !important;
    }

    .contact_information_item-text{
        font-size: 1rem !important;
    }

    .contact_information-item > span{
        font-size: 1.2rem !important;
    }

    .contact_form-text {
        font-size: 1.4rem !important;
    }

    .contact_form-input{
        font-size: 1rem !important;
    }

    .contact-container{
        flex-direction: column;
        gap: 0 !important;
    }

    .contact-information,.contact-form{
        width: unset !important;
    }
    .contact_form-two{
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .contact_form_two-item, .contact_form-input{
        width: unset !important;
    }
}